<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>End of Esign Demo</title>
</head>

<body>
    <div id = "demotitle">
        End of Esign Demo
    </div>
    <input type = "submit" id = "reset" value = "Reset" onclick = "reset();">
</body>

<script>
    function reset(){
        location.href = "/";
    }
</script>
<style>
 #demotitle{
    font-size: 28px;
    background-color: #eee;
    border: 1px solid #888;
    border-width: 2px;
    width: 300px;
    text-align:center;
    }
</style>
</html>